.moveKey {
    width: 400px;
    height: 30px;
    margin-left: 320px;
}


.moveKey button{
    float: left; 
    width: 60px;
    height: 20px;
    size: 12px;
    /* margin-top: 20px; */
    margin-right: 10px;
}